@media screen and (max-width: 420px){
    .header__menu__right__box, .header__menu__left__box__1 div, .header__menu__left__box__2 div{
        display: none;
    }
    .header__menu__left__box__1 img, .header__menu__left__box__2 img, .header__menu__left__box img{
        display: none;
    }
    .header__menu__left__box{
        position: relative;
        right: 40px;
    }
    .header__menu__all__left > .header__mobile__menu__ipad{
        display: block;
    }
    .header__mobile__menu__ipad, .header__menu__left__box{
        font-size: 13px;
        color: #FFFFFF;
        font-weight: 500;
    }
    .header__menu__left__box span{
        margin-left: 5px;
    }
    .header__mobile__menu__ipad{
        position: relative;
        right: 145px;
        bottom: 1px;
    }
    .box__2__block__2, .menu__top__box__2 img, .box__3__block__2, .menu__top__box__3 img {
        display: none;
    }

    .box__1__block__2 {
        width: 170px;
    }

    .box__1__block__2 h1 {
        font-size: 18px;
        margin: 0;
    }

    .menu__top__box__1 {
        position: relative;
        width: 160px;
        left: 40px;
        bottom: 5px;
    }
    .menu__top__box__1 img{
        height: 80px;
    }

    .box__4__block__2 span {
        display: none;
    }

    .box__4__block__2 h2 {
        font-size: 8px;
        font-weight: bold;
    }

    .menu__top__box__4 {
        width: 142px;
        height: 18px;
        position: relative;
        top: 20px;
        left: 110px;
        border-radius: 5px;
    }

    .box__4__block__2 {
        width: 140px;
    }
    .box__4__block__2 h2{
        font-size: 11px;
        width: 130px;
    }
    .box__1__block__2 h2 {
        font-size: 10px;
        font-weight: bold;
        width: 140px;
    }

    .box__1__block__2 {
        position: relative;
        top: 5px;
    }

    .menu__top__box__5 {
        position: relative;
        top: -15px;
    }

    .menu__top__box__5 h2 {
        width: 110px;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
    }

    .box__5__block__2 h3 {
        font-size: 10px;
    }
    .bottom__box__3 img, .bottom__box__3 div, .bottom__box__4 img, .bottom__box__4 div, .bottom__box__5 img, .bottom__box__5 div {
        display: none;
    }
    .all__menu__button button{
        display: none;
    }
    .bottom__box__2{
        margin-left: 25px;
        width: 235px;
        height: 40px;
    }
    .bottom__box__2 h3{
        font-size: 12px;
    }
    .bottom__box__2 span{
        display: none;
    }
    .bottom__box__1{
        height: 45px;
        position: relative;
        right: 30px;
    }
    .bottom__box__1 button span{
        display: none;
    }
    .all__menu__button{
        position: relative;
        left: 5px;
    }
    .search__menu__button button div{
        display: none;
    }
    .search__menu__button button img{
        display: block;
        width: 16px;
        height: 16px;
        margin: 0 25px;
    }
    .search__menu__button{
        position: relative;
        left: 9px;
    }
    .search__menu{
        position: relative;
        left: 9px;
    }
    .search__menu h3{
        width: 250px;
    }
    .product__top__slaider{
        width: 390px;
        height: 150px;
        position: relative;
        right: 125px;
    }
    .product__top{
        height: 700px;
        flex-direction: column;
    }
    .carousel__item__box__1{
        height: 150px;
        width: 200px;
    }
    .item__box__1__header h2{
        font-size: 20px;
        margin: 10px 0 0 0;
        font-weight: bold;
    }
    .item__box__1__header h4{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .item__box__1__footer h3{
        font-size: 22px;
        width: 220px;
    }
    .item__box__1__footer h4{
        font-size: 14px;
        font-weight: bold;
        width: 150px;
        position: relative;
        bottom: 30px;
        right: 118px;
    }
    .item__box__1__button{
        width: 140px;
    }
    .item__box__1__button button{
        font-size: 14px;
    }
    .item__box__1__button button img{
        margin-bottom: 3px;
    }
    .carousel__item__box__1{
        margin: -30px -10px 0 -80px;
    }
    .carousel__item__box__1 > .item__box__1__img{
        left: 0;
        bottom: 0;
    }
    .item__box__1__img img{
        width: 220px;
        height: 180px;
        position: relative;
        left: 155px;
        bottom: 170px;
    }
    .product__top__box{
        width: 390px;
        position: relative;
        top: 160px;
        right: 131px;
        overflow: hidden;
    }
    .product__box__right{
        width: 220px;
    }
    .product__box__left{
        left: 50px;
    }
    .product__box__right h2{
        font-size: 16px;
        font-weight: bold;
        width: 200px;
    }
    .product__box__right h3{
        font-size: 12px;
        width: 120px;
    }
    .product__bottom__menu{
        display: flex;
        flex-direction: column;
    }
    .product__box__bottom h3{
        font-size: 16px;
    }
    .product__box__bottom h4{
        font-size: 14px;
    }
    .product__box__bottom button{
        width: 40px;
        height: 40px;
    }
    .product__box__bottom button img{
        position: relative;
        bottom: 2px;
        right: 1px;
    }
    .product__bottom__menu{
        margin-left: 0;
        top: 50px;
    }
    .product__box__menu__bottom{
        margin-bottom: 10px;
        width: 390px;
        height: 150px;
        position: relative;
        left: 15px;
        bottom: 70px;
    }
    .product__box__menu__bottom img{
        height: 140px;
        width: 120px;
        left: 3px;
    }
    .product__box__menu__bottom h2{
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }
    .product__box__menu__bottom h3{
        font-size: 13px;
        width: 190px;
    }
    .product__box__menu__bottom button{
        width: 130px;
        height: 30px;
        font-size: 16px;
    }
    .product__bottom__menu__icon__prev, .product__bottom__menu__icon__next{
        display: none;
    }
    .all__phone__menu{
        width: 419px;
        height: 60px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        position: relative;
        z-index: 100;
        top: 164px;
        right: 142px;
    }
    .phone__box{
        display: block;
    }
    .phone__box h3{
        font-family: Roboto;
        font-size: 12px;
        line-height: 12px;
        color: #0F2438;
        position: relative;
        right: 12px;
        top: 3px;
    }
    .phone__box h3 span{
        position: relative;
        right: 5px;
    }
    .all__menu__product{
        margin: 0;
    }
    .all__menu__product__button{
        margin: 0 0 30px 5px;
    }
    .button__all-menu__box1{
        width: 140px;
        margin-left: 10px;
    }
    .button__all-menu__box2{
        width: 70px;
    }
    .button__all-menu__box3{
        width: 150px;
    }
    .button__all-menu__box3, .button__all-menu__box2, .button__all-menu__box1{
        font-size: 14px;
    }
    .all__product__box{
        position: relative;
        bottom: 100px;
        right: 10px;
    }
    .product__min__box{
        width: 170px;
        height: 280px;
        margin: 100px 0px 0 25px;
    }
    .product__min__box > img{
        width: 140px;
        height: 140px;
    }
    .response img{
        width: 35px;
        height: 14px;
    }
    .product__bottom__box__menu > div > button > img{
        width: 15px;
        height: 15px;
    }
    .product__bottom__box__menu > img{
        display: none;
    }
    .product__min__box h2{
        font-size: 14px;
    }
    .product__bottom__box__menu > div > button{
        width: 130px;
        height: 40px;
        font-size: 13px;
    }
    .button__product__box__all{
        left: 100px;
    }
    .news__background{
        display: none;
    }
    .news__all__menu h2{
        margin-left: 13px;
        font-size: 22px;
    }
    .news__list{
        flex-direction: column;
    }
    .news__box__1, .news__box__2, .news__box__3, .news__box__4{
        width: 300px;
        margin-left: 15px;
    }
    .news__link a{
        font-family: Roboto;
        font-size: 14px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    .news__box__1 > p, .news__box__2 > p, .news__box__3 > p, .news__box__4 > p{
        font-family: Roboto;
        font-size: 14px;
        line-height: 18px;
        color: #242424;
        width: 360px;
    }
    .footer__menu{
        height: 100%;
    }
    .footer__box__list__all{
        flex-direction: column;
    }
    .footer__menu{
        margin-top: 50px;
        padding: 0 0 0 10px;
    }
    .footer__box__list__1, .footer__box__list__2, .footer__box__list__3, .footer__box__list__4, .footer__box__list__5{
        margin-bottom: 20px;
        position: relative;
        left: 5px;
    }
    .footer__box__email{
        left: 0;
        bottom: 0;
    }
    .top__footer__box h3 , .top__footer__box h3 span{
        font-size: 13px;
        width: 200px;
    }
    .bottom__box__footer{
        bottom: 0;
        border-top: 2px solid #1D3044;
        margin-top: 10px;
        width: 102%;
        position: relative;
        right: 10px;
    }
    .bottom__box__footer h3{
        height: 40px;
        width: 90%;
        display: flex;
        align-items: center;
        position: relative;
        left: 10px;
    }
    .email__box{
        width: 300px;
    }
    .email__box h3{
        font-size: 12px;
    }
    .email__box button{
        width: 100px;
        font-size: 12px;
    }
    .img__footer__box__email img{
        left: 0;
        margin: 20px 40px 10px 0;
    }
    .img__footer__box__email{
        width: 200px;
    }
    .top__footer__box, .footer__box__email{
        width: 300px;
    }
    .carousel-item > img{
        width: 320px;
    }
    .product__box__bottom{
        width: 150px;
    }

}