:root {
    --color-light--grey: rgba(58, 131, 58, 0.51);
    --color-dark--grey: rgba(0, 0, 0, 0.34);
}

.menu-all {
    width: 1000px;
    border: 5px solid var(--color-light--grey);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5px;
    row-gap: 5px;
}

.header {
    height: 100px;
    width: 915px;
    background: var(--color-dark--grey);
    border-radius: 20px;
    margin: 0 auto;
}
.content{
    /*width: 915px;*/
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /*padding: 10px;*/
    column-gap: 5px;
}
.box-left{
    height: 600px;
    width: 605px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 5px;
}
.menu-all > .content > .box-left > .box-content{
    width: 200px;
    height: 300px;
    background: var(--color-dark--grey);
    border-radius: 20px;
}
.box-right{
    width: 305px;
    height: 605px;
    background: var(--color-dark--grey);
    border-radius: 20px;
}