.border-color{
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.63);
    background: rgba(0, 0, 0, 0.22);
}
.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-menu{
    margin: 10px;
    height: 750px;
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 15px 15px 0 15px;
}
.box1{
    height: 100px;
    width: 1000px;
}
.box2{
    height: 600px;
    width: 657px;
}
.box3{
    height: 600px;
    width: 315px;
}