.radius{
    border-radius: 20px;
}

.product{
    min-height: 750px;
    width: 900px;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header {
    height: 200px;
    width: 750px;
    background: #ff0039;
    margin: 5px;
}
.box-content{
    height: 150px;
    width: 247px;
    background: cyan;
    margin: 0 2px 0 2px;
}
.footer{
    height: 400px;
    width: 750px;
    background: darkgoldenrod;
    margin: 5px;
}