body{
    margin: 0;
}
.color{
    background: darkblue;
}
.radius{
    border-radius: 20px;
}
.all-menu{
    height: 1000px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border: 5px solid black;
    margin: 20px;
}
.header{
    height: 100px;
    width: 703px;
}
.left-box{
    height: 550px;
    width: 165px;
}
.content-box{
    height: 258px;
    width: 525px;
    margin: 20px 0 20px 0;
}
.footer{
    height: 100px;
    width: 703px;
}